---
title: 'About Us | True Thai Therapy'
description: "Discover the story behind True Thai Therapy, Edinburgh's premier Thai massage center. Learn about our commitment to authentic techniques and holistic wellness since 2009."
preloadImg: '/assets/images/banner3.webp'
permalink: 'about-us/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="" class="cs-link">Home</a>
            <a href="/about-us/" class="cs-link cs-active">About Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/banner3-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/banner3.webp">
        <img decoding="async" src="/assets/images/banners/banner3.jpg" alt="candles and oils" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                
<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<section id="sbs-867">
<div class="cs-container">
<picture class="cs-picture">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="/assets/images/staff/nuch-m.webp">
    <!--Tablet and above Image-->
    <source media="(min-width: 601px)" srcset="/assets/images/staff/nuch.webp">
    <img loading="lazy" decoding="async" src="/assets/images/staff/nuch.jpg" alt="nuch owner" width="630" height="775">
</picture>
<div class="cs-content">
    <span class="cs-topper"></span>
    <h1 class="cs-title">
        <span class="cs-color">About True Thai Therapy</span></h1>
        <p>
            Welcome to True Thai Therapy, Edinburgh's premier destination for authentic Thai massage and wellness since 2009. Our journey began with a simple mission: to bring the ancient art of Thai massage to the heart of Scotland's capital, focusing on customer experience, health, and happiness.
        <p>
        <h3><span class="cs-color">Our Founder</h3>
        <p>
            True Thai was established by Nongnuch Thongkong, known affectionately as Nuch to her friends and clients. With her passion for traditional Thai healing practices and a vision to share these benefits with Edinburgh, Nuch has cultivated a sanctuary of relaxation and rejuvenation in the city's bustling South Side.                               
        </p>
        <h3><span class="cs-color">Our Expertise</h3>
        <p>
            At True Thai, we specialise in traditional Thai massage, a time-honored technique that addresses a wide range of conditions. From alleviating aches and pains to treating sports injuries, improving posture, and even aiding digestion, our treatments offer comprehensive care for body and mind. We're particularly adept at helping clients overcome stress and lethargy, restoring balance to their busy lives.
        </p>
        
        <h3><span class="cs-color">Our Philosophy</h3>
            <p>
                We believe in making the benefits of Thai massage accessible to all. Our calm and peaceful center offers a tranquil escape from the stresses of daily life, right in the heart of Edinburgh. We maintain competitive pricing to ensure that as many people as possible can experience the remarkable effects of our health and beauty treatments.
            </p>
            <h3><span class="cs-color">Your Experience</h3>
                <p>
                    Whether you've discovered Thai massage on your travels abroad or are new to this ancient practice, True Thai offers an authentic experience without the need for a long-haul flight. From the moment you step through our doors, you'll be enveloped in a warm, welcoming atmosphere designed to put you at ease.
                </p>
                <p>
                    At True Thai Therapy, we're not just offering massages – we're providing a pathway to enhanced well-being and vitality. We invite you to experience the difference that true Thai hospitality and expertise can make.
                </p>
        </div>
        
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}