---
title: 'Our Team | True Thai Therapy'
description: 'Meet our skilled therapists at True Thai Therapy. Our diverse team brings expertise in traditional Thai techniques and modern wellness practices to Edinburgh.'
preloadImg: '/assets/images/banners/banner3.webp'
permalink: 'our-team/'
eleventyNavigation:
    key: Team
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/team.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
    <div class="cs-container">
        <span class="cs-int-title">Our Team</span>
        <div class="cs-breadcrumbs">
            <a href="" class="cs-link">Home</a>
            <a href="/our-team/" class="cs-link cs-active">Our Team</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/banner3-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/banner3.webp">
        <img decoding="async" src="/assets/images/banners/banner3.jpg" alt="candles and oils" width="1280" height="568" aria-hidden="true">
    </picture>
</div>


<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="about-1451">
    <div class="cs-container">
        <div class="cs-info">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/team/nuch-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/team/nuch.webp">
                <img loading="lazy" decoding="async" src="/assets/images/team/nuch.jpg" alt="nuch owner" width="522" height="696">
            </picture>
            <div class="cs-content">
                <span class="cs-header">Nuch</span>
                <p class="cs-text">
                    Hailing from Chiang Mai, Thailand, Nuch is the founder of True Thai Therapy and brings 12 years of extensive experience in Thai massage and wellness therapies to Edinburgh. Her impressive repertoire includes qualifications in Aromatherapy, Reflexology, Hot Stone Healing, Thai Facial and Body Treatments, Tok Sen Ancient Thai Therapy, and Traditional Thai Acupressure for Orthopaedic Pains. Nuch specialises in Traditional Thai Massage, offering authentic techniques passed down through generations. Her expertise in therapeutic health and pregnancy massage further enhances the holistic wellness experience at True Thai Therapy.
                </p>
                <br>
                <ul id="list-893" class="cs-ul">
                    <li class="cs-li">
                        Traditional Thai Body Massage
                    </li>
                    <li class="cs-li">
                        Head, Back and Shoulders Massage
                    </li>
                    <li class="cs-li">
                        Deep Tissue Oil Massage
                    </li>
                    <li class="cs-li">
                        Deep Tissue Hot Oil Massage
                    </li>
                    <li class="cs-li">
                        Pregnancy Massage
                    </li>
                    <li class="cs-li">
                        Reflexology Foot Massage
                    </li>
                    <li class="cs-li">
                        Hot Stone Massage
                    </li>
                </ul>       
                <!--Floating Graphic-->
                <img class="cs-floater" loading="lazy" decoding="async" src="/assets/svgs/seeds.svg" alt="person" width="193" height="197">
            </div>
        </div>
        <div class="cs-info">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/team/zoe-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/team/zoe.webp">
                <img loading="lazy" decoding="async" src="/assets/images/team/zoe.jpg" alt="zoe therapist" width="522" height="696">
            </picture>
            <div class="cs-content">
                <span class="cs-header">Zoé</span>
                <p class="cs-text">
                    Hailing from France, Zoé brings a unique blend of Eastern and Western massage techniques to True Thai Therapy. With six years of experience and a recent transition to full-time therapy, she combines her training from the prestigious Wat Po in Chiang Mai, Thailand and the Scottish Massage School in Edinburgh to offer a comprehensive approach to wellness. Zoé specialises in deep tissue work and traditional Thai massage, her expertise reflecting her dedication to the craft. Her diverse skill set and commitment to holistic care make her an invaluable member of our team.
                </p>
                <br>
                <ul id="list-893" class="cs-ul">
                    <li class="cs-li">
                        Traditional Thai Body Massage
                    </li>
                    <li class="cs-li">
                        Head, Back and Shoulders Massage
                    </li>
                    <li class="cs-li">
                        Deep Tissue Oil Massage
                    </li>
                    <li class="cs-li">
                        Deep Tissue Hot Oil Massage
                    </li>
                    <li class="cs-li">
                        Reflexology Foot Massage
                    </li>
                    <li class="cs-li">
                        Swedish Massage
                    </li>
                </ul>
                <!--Floating Graphic-->
                <img class="cs-floater" loading="lazy" decoding="async" src="/assets/svgs/seeds.svg" alt="person" width="193" height="197">
            </div>
        </div>
        <div class="cs-info">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/team/yut-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/team/yut.webp">
                <img loading="lazy" decoding="async" src="/assets/images/team/yut.jpg" alt="tanayut therapist" width="522" height="696">
            </picture>
            <div class="cs-content">
                <span class="cs-header">Tanayut</span>
                <p class="cs-text">
                    Hailing from Chiang Mai in northern Thailand, Tanayut brings over three decades of massage expertise to True Thai Therapy. With 27 years of experience in Thailand, followed by stints in London and Edinburgh, he offers a wealth of knowledge in traditional Thai techniques. Trained at Trang Polytechnic College and the Old Traditions Thai Massage School, Tanayut specialises in Thai massage, acupressure, hot stones, tok sen, deep tissue oil, and foot massage. His extensive background ensures a truly authentic and effective treatment experience.
                </p>
                <br>
                <ul id="list-893" class="cs-ul">
                    <li class="cs-li">
                        Traditional Thai Body Massage
                    </li>
                    <li class="cs-li">
                        Head, Back and Shoulders Massage
                    </li>
                    <li class="cs-li">
                        Deep Tissue Oil Massage
                    </li>
                    <li class="cs-li">
                        Deep Tissue Hot Oil Massage
                    </li>
                    <li class="cs-li">
                        Pregnancy Massage
                    </li>
                    <li class="cs-li">
                        Reflexology Foot Massage
                    </li>
                    <li class="cs-li">
                        Hot Stone Massage
                    </li>
                </ul>  
                <!--Floating Graphic-->
                <img class="cs-floater" loading="lazy" decoding="async" src="/assets/svgs/seeds.svg" alt="person" width="193" height="197">
            </div>
        </div>
        <div class="cs-info">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/team/minta-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/team/minta.webp">
                <img loading="lazy" decoding="async" src="/assets/images/team/minta.jpg" alt="minta therapist" width="522" height="696">
            </picture>
            <div class="cs-content">
                <span class="cs-header">Mint</span>
                <p class="cs-text">
                    Originally from Bangkok, Thailand, Mint brings a unique specialisation in Toksen Therapy to True Thai Therapy. With 12 years of dedicated experience in this traditional healing art, Mint offers a rare expertise to our clients. Holding a law degree alongside her Diploma in Toksen from the prestigious Khitchakut Center in Chantaburi, Mint combines academic rigor with hands-on skill. Her focus on treating sports injuries through Toksen techniques provides a distinctive approach to healing and recovery.
                </p>
                <br>
                <ul id="list-893" class="cs-ul">
                    <li class="cs-li">
                        Traditional Thai Body Massage
                    </li>
                    <li class="cs-li">
                        Deep Tissue Oil Massage
                    </li>
                    <li class="cs-li">
                        Deep Tissue Hot Oil Massage
                    </li>
                    <li class="cs-li">
                        Reflexology Foot Massage
                    </li>
                    <li class="cs-li">
                        Hot Stone Massage
                    </li>
                    <li class="cs-li">
                        Toksen
                    </li>
                </ul>    
                <!--Floating Graphic-->
                <img class="cs-floater" loading="lazy" decoding="async" src="/assets/svgs/seeds.svg" alt="person" width="193" height="197">
            </div>
        </div>
        <div class="cs-info">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/team/nong-m.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/team/nong.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/team/nong.jpg" alt="nong therapist" width="522" height="696">
            </picture>
            <div class="cs-content">
                <span class="cs-header">Nong</span>
                <p class="cs-text">
                    Originally from Prachin Buri Province, Thailand, Nong brings a wealth of experience to True Thai Therapy. With 7 years of practice in Thailand and 5 years in Scotland, including the last 2 years at our Edinburgh location, Nong offers a blend of traditional Thai techniques and Scottish spa experience. Certified by The Union of Traditional Thai Medicine Society, her qualifications include Thai massage acupressure, Aromatherapy massage, and reflexology. 
                </p>
                <br>
                <ul id="list-893" class="cs-ul">
                    <li class="cs-li">
                        Traditional Thai Body Massage
                    </li>
                    <li class="cs-li">
                        Deep Tissue Oil Massage
                    </li>
                    <li class="cs-li">
                        Deep Tissue Hot Oil Massage
                    </li>
                    <li class="cs-li">
                        Reflexology Foot Massage
                    </li>
                    <li class="cs-li">
                        Hot Stone Massage
                    </li>
                </ul>  
                <!--Floating Graphic-->
                <img class="cs-floater" loading="lazy" decoding="async" src="/assets/svgs/seeds.svg" alt="person" width="193" height="197">
            </div>
        </div>
    </div>
</section>
                                
                                
                                

 

    {% include 'components/cta.html' %}

{% endblock %}