---
title: 'Treatments | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'treatments/'
eleventyNavigation:
    key: Treatments
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/treatments.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-843">
    <div class="cs-container">
        <span class="cs-int-title">Immersive & Relaxing Massages</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background" aria-hidden="true">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fyoga-m.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fyoga.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fyoga.jpg" alt="yoga" width="1280" height="568">
    </picture>
</div>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-877">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">Here to Help You Find a Path Forward</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, minus temporibus debitis quo nulla molestias quibusdam quisquam dicta eligendi nam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, eum.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/thai-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/thai.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/thai.jpg" alt="thai massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Traditional Thai Body Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £65</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £95</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Minutes £120</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Traditional Thai body Massage (Nuad Phaen Bhoran in Thai) is often called "lazy man's yoga." The therapist moves your body into various stretches while applying pressure to Sen (energy) lines to clear blockages and promote energy flow. You'll lie on a mat wearing comfortable provided clothing, without oils. This invigorating yet relaxing treatment combines stretching and pressure point therapy to balance the body's energy systems.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/head-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/head.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/head.jpg" alt="head massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Head, Back and Shoulders Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £55</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £80</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        This focused treatment targets the head, neck, shoulders, and upper back areas. It's ideal for those experiencing stiffness or pain in these regions, particularly due to computer use or poor posture. The massage combines various techniques to release tension, improve circulation, and promote relaxation in the upper body. It's an excellent choice for quick relief from work-related stress and muscle tightness.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/deep-tissue-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/deep-tissue.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/deep-tissue.jpg" alt="deep tissue massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Deep Tissue Oil Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £80</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Minutes £100</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        This massage uses firm pressure and deep rhythmic movements along the body's energy lines, incorporating oil for smooth strokes. The treatment aims to unblock, balance, and restore the body's natural energy flow, working to re-establish equilibrium in organs and body systems. It's particularly effective for releasing chronic muscle tension and addressing deep-seated knots or adhesions in the muscle tissue.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/oil-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/oil.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/oil.jpg" alt="deep tissue hot oil massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Deep Tissue Hot Oil Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £65</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £90</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Minutes £110</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        An intensified version of the Deep Tissue Oil Massage, this treatment uses hot oil and medium to firm pressure. The heat helps to further relax muscles, allowing for deeper penetration and more effective tension release. It's excellent for athletes, those with specific injuries, or anyone looking to break through persistent patterns of stiffness. The hot oil enhances circulation and promotes faster healing of sore muscles.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/pregnant-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/pregnant.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/pregnant.jpg" alt="pregnancy massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Pregnancy Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £75</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £95</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        This soothing massage is tailored for expectant mothers. While lying on your side, supported by pillows, you'll receive a gentle yet effective massage focusing on areas of tension. The therapist applies pressure suited to your preference on the head, neck, shoulders, and back, followed by gentle palm pressure on the legs. It's a favorite among mums-to-be, especially when gifted as a surprise, offering relaxation and relief from pregnancy-related discomforts.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/foot-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/foot.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/foot.jpg" alt="foot massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Reflexology Foot Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £85</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        This specialized treatment involves systematic pressure application to specific points on the feet and lower legs, sometimes using a wooden tool. It's excellent for foot aches and general well-being. Based on the principle that foot points correspond to body organs, this massage aims to release blockages and promote overall health. The stimulation of these points is believed to have beneficial effects throughout the body, making it a holistic treatment.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/hot-stone-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/hot-stone.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/hot-stone.jpg" alt="hot stone massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Hot Stone Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £75</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £95</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        In this deeply relaxing treatment, heated stones of various sizes are placed on and used to massage the body. The combination of the stones' hardness and penetrating heat creates a deep tissue effect, helping to soften and release long-held tensions. The warmth of the stones enhances muscle relaxation, improves circulation, and promotes a sense of calm and well-being. It's an excellent choice for those seeking both relaxation and therapeutic benefits.
                    </p>
                </a>
            </li>
        </ul>
        <a href="" class="cs-button-solid">View All</a>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}