---
title: 'Thai Massage | True Thai Therapy | Edinburgh'
description: 'Experience authentic Thai massage and wellness in the heart of Edinburgh. True Thai Therapy offers a range of traditional and modern treatments to rejuvenate your body and mind.'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100

---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1059">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Traditional Thai Massage & Therapy in Edinburgh</h1>
            <p class="cs-text">
                Discover an authentic slice of Thailand in Scotland's capital. Our skilled therapists blend time-honored techniques with modern wellness, offering a sanctuary for both Edinburgh residents and visitors. Whether you're a local seeking regular relaxation or a tourist in need of rejuvenation, indulge in our array of massages and beauty treatments. Let True Thai Therapy be your escape, where Eastern tradition meets Scottish hospitality.
            </p>
            <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Schedule Appointment</a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/banners/hero1-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/banners/hero1.webp">
        <img decoding="async" src="/assets/images/banners/hero1.jpg" alt="woman getting massage" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-877">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Popular</span>
            <h2 class="cs-title">Treat Yourself to an Unforgettable Thai Experience</h2>
            <p class="cs-text">
                Indulge in a journey of renewal for body and mind. Our expert therapists artfully combine traditional Thai techniques with contemporary approaches, promoting holistic wellness. Discover our diverse range of treatments, from classic Thai massage to aromatherapy, deep tissue, hot stone, and more.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/head-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/head.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/head.jpg" alt="head massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Head, Back and Shoulders Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £55</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £80</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Minutes £100</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        This focused treatment targets the head, neck, shoulders, and upper back areas. It's ideal for those experiencing stiffness or pain in these regions, particularly due to computer use or poor posture. The massage combines various techniques to release tension, improve circulation, and promote relaxation in the upper body. It's an excellent choice for quick relief from work-related stress and muscle tightness.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/foot-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/foot.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/foot.jpg" alt="foot massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Reflexology Foot Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £85</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        This specialised treatment involves systematic pressure application to specific points on the feet and lower legs, sometimes using a wooden tool. It's excellent for foot aches and general well-being. Based on the principle that foot points correspond to body organs, this massage aims to release blockages and promote overall health. The stimulation of these points is believed to have beneficial effects throughout the body, making it a holistic treatment.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/hot-stone-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/hot-stone.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/hot-stone.jpg" alt="hot stone massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Hot Stone Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £75</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £95</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        In this deeply relaxing treatment, heated stones of various sizes are placed on and used to massage the body. The combination of the stones' hardness and penetrating heat creates a deep tissue effect, helping to soften and release long-held tensions. The warmth of the stones enhances muscle relaxation, improves circulation, and promotes a sense of calm and well-being. It's an excellent choice for those seeking both relaxation and therapeutic benefits.
                    </p>
                </a>
            </li>
        </ul>
        <a href="/treatments/" class="cs-button-solid">View All Treatments</a>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-867">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/thai-massage-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/thai-massage.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/thai-massage.jpg" alt="thai massage" width="630" height="775">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Featured</span>
            <h2 class="cs-title">Traditional Thai Body Massage</h2>
            <p class="cs-text">
                Experience the ancient healing art of Traditional Thai Body Massage at True Thai Therapy in Edinburgh. Often called "lazy man's yoga," this unique treatment combines assisted stretching and pressure point therapy to balance your body's energy systems. Our expert therapists guide you through yoga-like stretches while applying precise pressure along the Sen (energy) lines, clearing blockages and stimulating vital energy flow.
            </p>
            <p class="cs-text">
                Performed on a comfortable mat without oils, you remain fully clothed in loose-fitting attire we provide. This invigorating yet deeply relaxing treatment uses various techniques to release tension, promote flexibility, and enhance joint mobility, offering a profound sense of relaxation and overall wellness.
            </p>
            <a href="/traditional-thai-massage/" class="cs-button-solid">Read More</a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-682">
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/about/about.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/about/about.webp">
                <img loading="lazy" decoding="async" src="/assets/images/about/about.jpg" alt="true thai shop front" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/about/about1-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/about/about1.webp">
                <img loading="lazy" decoding="async" src="/assets/images/about/about1.jpg" alt="true thai staff" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture3">
                <source media="(max-width: 600px)" srcset="/assets/images/about/about2-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/about/about2.webp">
                <img loading="lazy" decoding="async" src="/assets/images/about/about2.jpg" alt="true thai staff" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture4">
                <source media="(max-width: 600px)" srcset="/assets/images/about/about3-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/about/about3.webp">
                <img loading="lazy" decoding="async" src="/assets/images/about/about3.jpg" alt="true thai staff" width="306" height="360">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us</span>
            <h2 class="cs-title">Why Choose True Thai Therapy?</h2>
            <p class="cs-text">
                Experience authentic Thai wellness in Edinburgh with True Thai Therapy. Our skilled therapists blend centuries-old techniques with modern practices, offering personalised care in a tranquil, sensory-rich environment.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <h3 class="cs-h3">
                        <img class="cs-icon" aria-hidden="true" src="/assets/svgs/squares.svg" loading="lazy" decoding="async" alt="squares" width="17" height="18">
                        Authentic Thai Expertise
                    </h3>
                    <p class="cs-item-text">
                        Experience the art of traditional Thai massage from our highly trained therapists. As Edinburgh's go-to spot for genuine Thai wellness, we offer deeply relaxing treatments rooted in centuries-old techniques.
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">
                        <img class="cs-icon" aria-hidden="true" src="/assets/svgs/squares.svg" loading="lazy" decoding="async" alt="squares" width="17" height="18">
                        Complete Sensory Journey
                    </h3>
                    <p class="cs-item-text">
                        Step into a world of tranquility that engages all your senses. From our Thai-inspired decor to soothing music, aromatic herbs, and calming teas, every detail enhances your massage experience.
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">
                        <img class="cs-icon" aria-hidden="true" src="/assets/svgs/squares.svg" loading="lazy" decoding="async" alt="squares" width="17" height="18">
                        Personalised Care
                    </h3>
                    <p class="cs-item-text">
                        We blend traditional Thai methods with modern wellness practices to suit your needs. Whether you're a local resident or visiting Edinburgh, our tailored treatments offer a rejuvenating escape from the everyday.
                    </p>
                </li>
            </ul>
            <a class="cs-button-solid" href="/about/">About Us</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-867">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/deep-tissue-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/deep-tissue.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/deep-tissue.jpg" alt="deep tissue massage" width="630" height="775">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Featured</span>
            <h2 class="cs-title">Deep Tissue Oil Massage</h2>
            <p class="cs-text">
                Experience the powerful healing effects of Deep Tissue Oil Massage at True Thai Therapy in Edinburgh. This specialised technique combines firm pressure and deep rhythmic movements with smooth oil, offering comprehensive muscle tension relief and energy balancing. Our skilled therapists apply firm pressure along your body's energy lines, using oil to facilitate penetrating strokes that unblock energy pathways and restore natural flow.
            </p>
            <p class="cs-text">
                Particularly effective for chronic muscle tension and deep-seated knots, this treatment targets problem areas with precision and depth. Our therapists work to release long-held tension, promoting healing at a deeper level and fostering overall wellbeing and vitality.
            </p>
            <a href="/deep-tissue-oil-massage/" class="cs-button-solid">Read More</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-351">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">FAQs</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
        </div>
        <ul class="cs-faq-group">
            <!-- Active class added as default -->
            <li class="cs-faq-item active">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Can I have a massage if I am pregnant?
                    </span>
                </button>
                <p class="cs-item-p">
                    Yes, but with caution. We recommend consulting your doctor first, especially if you have any pregnancy-related complications. If approved, we offer specialised prenatal massage techniques for your comfort and safety. 
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Do you treat children?
                    </span>
                </button>
                <p class="cs-item-p">
                    Yes, we offer treatments suitable for children. Clients under 16 must be accompanied by an adult.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Can I have a massage if I have cancer?
                    </span>
                </button>
                <p class="cs-item-p">
                    We welcome clients with cancer, but please consult your doctor first. Some treatments may need to be adapted based on your specific situation.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Do I need to bring anything with me?
                    </span>
                </button>
                <p class="cs-item-p">
                    No. We provide loose-fitting, pajama-style clothing for most treatments. If you prefer, you may bring your own loose-fitting t-shirt/top and full-length bottoms.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How far are you from Waverley Train Station?
                    </span>
                </button>
                <p class="cs-item-p">
                    We're about 1.3 miles away, typically a 5-10 minute drive in good traffic.
                </p>
            </li>
        </ul>
        <!--Added second UL, this allows you to open an FAQ item on each side without messing up the flexbox for the other -->
        <ul class="cs-faq-group">
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How far are you from Edinburgh Airport?
                    </span>
                </button>
                <p class="cs-item-p">
                    We're approximately 8.2 miles from the airport, usually a 20-30 minute drive in good traffic.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Do you accept credit cards?
                    </span>
                </button>
                <p class="cs-item-p">
                    Yes, we accept all major credit and debit cards other than American Express.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Can I buy gift vouchers?
                    </span>
                </button>
                <p class="cs-item-p">
                    Absolutely! Digital gift vouchers are available for instant purchase online. Physical vouchers can be bought in-store. Prices start from £25. 
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Is parking available?
                    </span>
                </button>
                <p class="cs-item-p">
                    Yes, paid on-street parking is available. Please note: there's no parking directly outside the shop Monday to Friday from 16:00 to 18:30.
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-607">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">What Our Valued Clients Say About Us</h2>
            <p class="cs-text">
                At True Thai Therapy, we take pride in connecting with each of our clients. Our reputation for excellence spans both our local Edinburgh community and visitors from around the world. Here's what some of our satisfied guests have shared about their experiences with us
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/google.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Superb Service!</h3>
                <p class="cs-item-text">
                    Superb service. I Have a hernited disc and severe muscle back seizure/spasms. Have been going here every few months and they have sorted me out. They use the hammer (tok-sen)to break any scar tissue then deep message. Would highly recommend. Definitely healed my sciatica and ongoing back problems. Will continue to go here. Great team
                </p>
                <span class="cs-name">Dan</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/google.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Phenomenal!</h3>
                <p class="cs-item-text">
                    Phenomenal. I got a same-day appointment as I finally resolved to try and sort out some long-standing neck and shoulder pain. It was my first Thai massage and it was very, very good - unlocked so much of the tension and pain I have built up. I booked another appointment on the spot. Thank you, Sudjai
                </p>
                <span class="cs-name">Catriona</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/google.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Five Star!</h3>
                <p class="cs-item-text">
                    After a long flight to Edinburgh it was great to be able to find a much needed place for a therapeutic massage to relieve my aching muscles. The booking was easily done online and the cost was definitely value for money. Nuch is an excellent masseuse.  I cannot recommend both Nuch and True Thai Therapy more highly. Five star for sure!
                </p>
                <span class="cs-name">Michael Slack</span>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                 Promotions                   -->
<!-- ============================================ -->

<section id="promotions-1567">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/voucher/voucher-m.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/voucher/voucher.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/voucher/voucher.jpg" alt="gift voucher" width="630" height="354">
                </picture>
                <div class="cs-content">
                    <span class="cs-tag">Gift Experience</span>
                    <h2 class="cs-h2">Get 10% off</h2>
                    <a href="" class="cs-button-solid">Shop Now</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/voucher/voucher-m.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/voucher/voucher.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/voucher/voucher.jpg" alt="gift voucher" width="630" height="354">
                </picture>
                <div class="cs-content">
                    <span class="cs-tag">Gift Voucher</span>
                    <h2 class="cs-h2">Free Foot Massage</h2>
                    <a href="" class="cs-button-solid">Shop Now</a>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
                                
                                
                                
                                
                                
                                
                                
                                
<script>const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
            item.classList.toggle('active')
        }
        item.addEventListener('click', onClick)
        }
</script>                                         

    {% include 'components/cta.html' %}
{% endblock %}